mixin equipsmixin(equip)
    a(href=`/equip/${equip.id}`).equip-mixin
        div.equip-mixin__thumb
        div.equip-mixin__data
            span.equip-mixin__title=equip.name 
            div.equip-mixin__meta
                span #{equip.owner.username} • 
                span #{equip.meta.views} 회