extends base
include mixins/equip

block content 
    h1 Home!
    nav 
        ul 
            li 
                a(href="/equip/upload") Upload Equip
    ul
        each item in equips
            +equipsmixin(item)
        else 
            li Sorry nothing found.