extends base
include mixins/equip

block content 
    form(method="GET").search__form
        input(placeholder="Search by Equip name", trpe="text", name="keyword")
        input(type="submit", value="Search now")

    div.equip-grid
        each item in equips 
            +equipsmixin(item)
        else 
            span.empty__message No Equips found